.header{
    height: 50px;
    display: flex;
    flex-direction:row ;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(194, 192, 192);
    z-index: 1;
}
.left-section{

 display: flex;
 align-items: center;
}
.hamburger-menu{
    height: 30px;
    margin-left: 24px;
    margin-right: 24px;
    cursor: pointer;
}
.logo{
    height: 20px;
    cursor: pointer;
}
.middle-section{

 flex: 1;
 margin-left: 70px;
 margin-right: 35px;
 max-width: 500px;
 display: flex;
 align-items: center;
}
.searchbar{
    height: 36px;
    flex: 1;
    padding-left: 10px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color:rgb(130, 130, 130) ;
    border-radius: 3px;
    box-shadow: 1px 2px 5px rgba(0,0,0,0.05);
    width: 0;

}

.searchbar::placeholder{
    font-family: Roboto,Arial;
    font-size: 16px;
   
}
.search-button{
    height:40px;
    width: 60px;
    background-color:rgb(244, 242, 242) ;
    border-width: 1px;
    border-style: solid;
    border-color:rgb(130, 130, 130) ;
    border-radius: 3px;
    margin-right: 10px;
    

}
.search-button,
.voice-button,
.apps-icons,
.notification-icon,
.upload-icons{
    position: relative;
    display: flex;
    justify-items: center;
    align-items: center;
    cursor: pointer;
}
.search-button .tooltip,
.voice-button .tooltip,
.notification-icon .tooltip,
.apps-icons .tooltip,
.upload-icons .tooltip{
    position: absolute;
    background-color: rgb(188, 186, 186);
    color: white;
    padding-top: 4px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 4px;
    border-radius: 4px;
    font-size: 12px;
    bottom: -30px;
    opacity:0 ;
    transition: opacity 0.25s;
    pointer-events: none;
    white-space: nowrap;
    
}
.search-button:hover .tooltip,
.voice-button:hover .tooltip,
.notification-icon:hover .tooltip,
.apps-icons:hover .tooltip,
.upload-icons:hover .tooltip
{
    opacity: 1;
}

.voice-button{
    height: 40px;
    width: 40px;
    border-radius: 30px;
    border:none;
    background-color: rgb(244, 242, 242);
}
.search-logo{
    height:25px;
   
    
}
.voice-logo{
    height:30px;
   
}
.right-section{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 30px;
}
.upload-logo{
    height: 30px;

}
.apps-logo{
    height: 30px;

}
.notifications-logo{
 height: 30px;
}
.channel-logo{
 height:30px;
 border-radius: 15px;
 cursor: pointer;
}
.notifi-icons{
    position: relative;
}
.notifi-count{
    position: absolute;
    background-color:red ;
    right: 1px;
    top:2px;
    border-radius:45px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-top: 2px;
    font-size: 11px;
    font-weight: bold;
    color: white;
    border-color: white;
    border-width: 3px;
    z-index: 1;

}