.header{
    height: 50px;
    display: flex;
    flex-direction:row ;
    justify-content: space-between;
}
.left-section{
 background-color: aquamarine;
 width: 150px;
}
.middle-section{
 background-color: aqua;
 flex: 1;
 margin-left: 15px;
 margin-right: 20px;
 max-width: 400px;
}
.right-section{
    background-color: aliceblue;
    width: 200px;
}